/* Your styles goes here. */
.container {
  height: 100vh;
  width: 100%;
  background-color: #342224;
}
.quote-box {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 50rem;
  padding: 4rem 6rem;
  border-radius: 0.4rem;
  .text {
    font-size: 2.6rem;
    font-weight: 500;
    text-align: center;
  }
  .author {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    display: flex;
    justify-content: flex-end;
  }
  .new-quote {
    font-size: 1.6rem;
    background-color: #342224;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 12.8rem;
    padding: 1rem 0;
    border-radius: 0.4rem;
    margin-top: 1.6rem;
  }
  .tweet-quote{
    background: url('./../assets/icons8-twitter.svg');
    background-color: #fff;
    background-size: cover;
    height: 1.6rem;
    width: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
